.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.CreateBook {
  background-color: #cccecf8a;
  min-height: 100vh;
  color: black;
}

.ShowBookDetails {
  background-color: #cccecf8a;
  min-height: 100vh;
  color: black;
  
}

.UpdateBookInfo {
  background-color: #cccecf8a;
  min-height: 100vh;
  color: black;
}

.ShowBookList {
  background-color: #cccecf8a;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100px;
  color: black;
}


/* BookList Styles */
.list {
  display: grid;
  margin: 20px 0 50px 0;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2em;
}

.mobile-list {
  margin: 20px 0 50px 0;
}

.card-container {
  width: 100%;
  border: 1px solid rgba(0,0,.125);
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  padding-bottom: 2rem;
}

.desc {
  height: 130px;
  padding: 10px;
}

.desc h2 {
  font-size: 1em;
  font-weight: 400;
}

.desc h3, p {
  font-weight: 300;
}

.desc p {
  margin-bottom: 1rem;
}

.desc h3 {
  color: #5e6164;
  font-size: 1em;
  padding: 10px 0 10px 0;
}

.book-img {
  width:100%;
  max-height:350px;
}